


<!-- <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  marker

  <sebm-google-map-info-window [latitude]="location.latitude" [longitude]="location.longitude"  [isOpen]="isOpen"></sebm-google-map-info-window>
  <sebm-google-map-marker *ngFor="let mark of cvsInfo | async" [latitude]="mark.lat" [longitude]='mark.lng' [title]='mark.name'></sebm-google-map-marker>
</sebm-google-map> -->

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let cvs of cvsInfo | async" [latitude]="cvs.lat" [longitude]="cvs.lng"></agm-marker>
</agm-map>
