<div class="container">
  <div class="button-row">
    <button md-raised-button class='btn' (click)='openEnrollDialog()'>상품 등록</button>
    <button md-raised-button class='btn' (click)='openSellDialog()'>상품 판매</button>
  </div>
</div>


<md-list>
 <md-list-item> 최근 등록상품 : {{enrollProductBarcode}} </md-list-item>
 <md-list-item> 최근 판매상품 : {{sellProductBarcode}} </md-list-item>
</md-list>

<h2>Item list</h2>
    <md-grid-list cols="3">
        <md-grid-tile *ngFor="let item of items | async">

            <md-card class="example-card">
                <md-card-header>
                  <!-- head contents -->
                </md-card-header>

                <md-card-content>
                  <img md-card-image class="card-image" src="../assets/images/gimbap.jpg" src-fallback="{{fallback}}">
                  <md-card-title>{{item.pName}}</md-card-title>
                  <md-card-subtitle>판매 금액</md-card-subtitle>
                </md-card-content>

                <md-card-actions>
                  <button md-button>예약하기</button>
                  <button md-button>바로구매</button>
                </md-card-actions>
            </md-card>

        </md-grid-tile>
    </md-grid-list>


<!-- <md-list>
  <md-list-item *ngFor="let item of items | async">{{item.pName}}</md-list-item>
</md-list> -->
