.body{
  /*margin: 100px auto;*/
  /*background-image: url('../../assets/images/background.jpg');*/
}

.img-size{
  width: 80%;
  height: 80%;
}

.map-title{
  text-align:  center;
}

hr{
  margin-top: 5px;
  margin-bottom:5px;
}
h3.pName{
  margin-top: 5px;
  margin-bottom:5px;
}
